
<div style="margin-top: 5px;">   
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Produto: {{product().id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{product().title}}</p>
        </mat-card-content>
        <mat-card-footer class="example-card-footer" style="margin-left: 15px;">
            <mat-chip-set>
                <mat-chip (click)="edit.emit()">Editar</mat-chip>
                <mat-chip (click)="onDelete()">Excluir</mat-chip>
            </mat-chip-set>
        </mat-card-footer>
    </mat-card>
    
</div>